sql-system-api/src/main/mule/sql-saber.xml
<?xml version="1.0" encoding="UTF-8"?>
<mule xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:apikit="http://www.mulesoft.org/schema/mule/mule-apikit" xmlns:db="http://www.mulesoft.org/schema/mule/db" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns:salesforce="http://www.mulesoft.org/schema/mule/salesforce" xmlns:tracking="http://www.mulesoft.org/schema/mule/ee/tracking" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd http://www.mulesoft.org/schema/mule/mule-apikit http://www.mulesoft.org/schema/mule/mule-apikit/current/mule-apikit.xsd http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd  http://www.mulesoft.org/schema/mule/db http://www.mulesoft.org/schema/mule/db/current/mule-db.xsd http://www.mulesoft.org/schema/mule/salesforce http://www.mulesoft.org/schema/mule/salesforce/current/mule-salesforce.xsd http://www.mulesoft.org/schema/mule/ee/tracking http://www.mulesoft.org/schema/mule/ee/tracking/current/mule-tracking-ee.xsd">
    <http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="bf9e3842-0126-402a-9b06-6339135d5a4b">
        <http:listener-connection host="${Http.Host}" port="${Http.Port}" />
    </http:listener-config>
    <flow name="sql-saber-main" doc:id="7a192e24-70c4-4305-9259-54a6de957cef">
        <http:listener config-ref="HTTP_Listener_config" path="${app.name}/api/*">
            <http:response statusCode="#[vars.httpStatus default 200]">
                <http:headers><![CDATA[#[vars.outboundHeaders default {}]]]></http:headers>
            </http:response>
            <http:error-response statusCode="#[vars.httpStatus default 500]">
                <http:body><![CDATA[#[payload]]]></http:body>
                <http:headers><![CDATA[#[vars.outboundHeaders default {}]]]></http:headers>
            </http:error-response>
        </http:listener>
        <!--         <set-variable value="#[attributes.headers.response]" doc:name="Save response mimetype" doc:id="ccfb040b-2f9b-4548-9118-284811fc1325" variableName="response"/> -->
        <apikit:router config-ref="sql-saber-config" />
        <error-handler ref="global-error-handlerError_Handler" />
    </flow>
    <flow name="sql-saber-console" doc:id="8387b006-229e-4c6f-991d-d4b6a3d8a3dc">
        <http:listener config-ref="HTTP_Listener_config" path="${app.name}/console/*">
            <http:response statusCode="#[vars.httpStatus default 200]">
                <http:headers><![CDATA[#[vars.outboundHeaders default {}]]]></http:headers>
            </http:response>
            <http:error-response statusCode="#[vars.httpStatus default 500]">
                <http:body><![CDATA[#[payload]]]></http:body>
                <http:headers><![CDATA[#[vars.outboundHeaders default {}]]]></http:headers>
            </http:error-response>
        </http:listener>
        <apikit:console config-ref="sql-saber-config" />
        <error-handler ref="global-error-handlerError_Handler" />
    </flow>
    <sub-flow name="Upsert-SQL-Operation" doc:id="ad9da0ce-f539-47d9-b2c8-2d072aac3e5b">
        <ee:transform doc:name="Transform Message" doc:id="c4f2cea8-2630-41b7-a048-e7233c4b4e2d">
            <ee:message />
            <ee:variables>
                <ee:set-variable variableName="Table"><![CDATA[%dw 2.0
output application/java
---
attributes.queryParams.Table]]></ee:set-variable>
                <ee:set-variable variableName="fields"><![CDATA[%dw 2.0
output application/java
---
(attributes.queryParams.Fields splitBy ",") default []]]></ee:set-variable>
            </ee:variables>
        </ee:transform>
        <parse-template doc:name="Parse Template" doc:id="02b0124b-70a4-4867-83c4-99041a4c6370" target="Query" outputMimeType="text/plain">
            <content>select ID from #[output application/java --- vars.Table] where ID in (#[output application/java --- "'$((((payload.ID as Array default []) distinctBy ((item, index) -&gt; item) ) - null) joinBy "','")'"])</content>
        </parse-template>
        <logger level="INFO" doc:name="Logger" doc:id="2d9f1bb6-2780-4ac8-86ed-b4b83cef5f47" message="#[vars.Query]" />
        <db:select doc:name="Select" doc:id="87b62ea9-89aa-442d-b81d-16ba0f8257be" config-ref="Database_Config" target="Old_Recs">
            <db:sql><![CDATA[#[output text --- vars.Query]]]></db:sql>
        </db:select>
        <scatter-gather doc:name="Scatter-Gather" doc:id="1e351a6d-3fbb-4756-8588-8d2e29413060">
            <route>
                <ee:transform doc:name="Transform Message" doc:id="ba79c223-4234-4c26-83c4-446ac8b6b20a">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
payload filter (not (vars.Old_Recs.ID contains $.ID))]]></ee:set-payload>
                    </ee:message>
                </ee:transform>
                <parse-template doc:name="Create Insert Query" doc:id="3d9ca6ea-90f8-487d-887d-fec582267e0e" target="query" outputMimeType="text/plain">
                    <content>insert into #[vars.Table] (#[vars.fields joinBy ','],LastModifiedTime) values (:#[vars.fields joinBy ',:'],CURRENT_TIMESTAMP)</content>
                </parse-template>
                <logger level="INFO" doc:name="Log - Query" doc:id="f4d76b8e-a80b-40c3-a591-312e1c7c1be3" message="#[vars.query]" />
                <parallel-foreach doc:name="Parallel For Each" doc:id="9e3d6d61-a26e-4db4-aa41-94060f86509e">
                    <try doc:name="Try" doc:id="3395a74e-17e6-477d-a7ae-6b008d7d2fe8">
                        <db:insert doc:name="Insert" doc:id="73da344d-020b-457e-81b8-2be67789bacb" config-ref="Database_Config">
                            <db:sql><![CDATA[#[vars.query]]]></db:sql>
                            <db:input-parameters><![CDATA[#[payload]]]></db:input-parameters>
                        </db:insert>
                        <error-handler>
                            <on-error-continue enableNotifications="false" logException="false" doc:name="On Error Continue" doc:id="2db7762a-f8fc-45eb-91d5-5c365c7f1c23" type="ANY">
                                <ee:transform doc:name="Transform Message" doc:id="d5ca2a23-0441-45f4-8637-3473b8199a36">
                                    <ee:message>
                                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
	Id:payload.ID,
	Error : error.description
}]]></ee:set-payload>
                                    </ee:message>
                                </ee:transform>
                            </on-error-continue>
                        </error-handler>
                    </try>
                </parallel-foreach>
                <!-- <db:bulk-insert doc:name="Bulk insert" doc:id="e7605c42-9df5-46d4-be6b-c830b41d8c11" config-ref="Database_Config">
					<db:sql><![CDATA[#[output text/plain -&#45;&#45; vars.query]]]></db:sql>
				</db:bulk-insert> -->
            </route>
            <route>
                <ee:transform doc:name="Transform Message1" doc:id="2b8e3a07-387a-4acd-bc24-2c60b7cf10ce">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
payload filter (vars.Old_Recs.ID contains $.ID)]]></ee:set-payload>
                    </ee:message>
                </ee:transform>
                <parse-template doc:name="Create Update Query" doc:id="15f8f0a9-9839-4189-9460-05e99c7ac712" target="query" outputMimeType="text/plain">
                    <content>update #[output text --- vars.Table] SET #[output text --- vars.fields map "$ = :$" joinBy " , "],LastModifiedTime = CURRENT_TIMESTAMP  where ID = :ID</content>
                </parse-template>
                <logger level="INFO" doc:name="Log - Query" doc:id="513bd250-3870-4b5c-97b5-bf83ef1ea761" message="#[vars.query]" />
                <parallel-foreach doc:name="Parallel For Each" doc:id="29e84522-cc06-4f1f-a022-0d95832c483d">
                    <try doc:name="Try" doc:id="a8169ae2-ac78-4105-a311-0b3b43694afb">
                        <db:update doc:name="Update" doc:id="44202b7a-70f6-4c08-910a-b31d898d697c" config-ref="Database_Config">
                            <db:sql><![CDATA[#[vars.query]]]></db:sql>
                            <db:input-parameters><![CDATA[#[payload]]]></db:input-parameters>
                        </db:update>
                        <error-handler>
                            <on-error-continue enableNotifications="false" logException="false" doc:name="On Error Continue" doc:id="bdeb65ba-23b6-4883-a30a-f361c5568e2b" type="ANY">
                                <ee:transform doc:name="Transform Message" doc:id="2d492429-0ce6-452c-93fe-67c0ea0866bf">
                                    <ee:message>
                                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
	Id:payload.ID,
	Error : error.description
}]]></ee:set-payload>
                                    </ee:message>
                                </ee:transform>
                            </on-error-continue>
                        </error-handler>
                    </try>
                </parallel-foreach>
                <!-- <db:bulk-update doc:name="Bulk update" doc:id="0f28de17-8b50-4835-b145-46b6dad74bf6" config-ref="Database_Config" >
					<db:sql ><![CDATA[#[output text/plain -&#45;&#45; vars.query]]]></db:sql>
				</db:bulk-update> -->
            </route>
        </scatter-gather>
        <!-- <db:select doc:name="Select" doc:id="603b0634-aa48-4199-843e-7404011ebc07" target="Exsist" config-ref="Database_Config">
			<db:sql ><![CDATA[select ID from #[vars.Table] where ID in (:ID)]]></db:sql>
			<db:input-parameters ><![CDATA[#[{
	ID: payload.ID joinBy "'.'"
}]]]></db:input-parameters>
		</db:select>
		<scatter-gather doc:name="Scatter-Gather" doc:id="2d350eb8-4a0e-4bd2-a223-738519e12d34" >
			<route >
				<ee:transform doc:name="Transform Message" doc:id="9320e114-6629-4d97-a895-6ea6520893ba" >
					<ee:message >
						<ee:set-payload ><![CDATA[%dw 2.0
output application/java
-&#45;&#45;
payload filter !(vars.Exsist.ID contains $.ID)]]></ee:set-payload>
					</ee:message>
				</ee:transform>
			</route>
			<route >
				<ee:transform doc:name="Transform Message" doc:id="0c5bd11e-da34-4975-9f19-9677626b92a5" >
					<ee:message >
						<ee:set-payload ><![CDATA[%dw 2.0
output application/java
-&#45;&#45;
payload filter (vars.Exsist.ID contains $.ID)]]></ee:set-payload>
					</ee:message>
				</ee:transform>
				<db:bulk-update doc:name="Bulk update" doc:id="a14f82d7-599d-4166-940e-d6c4a7544e73" config-ref="Database_Config">
					<db:sql ><![CDATA[Update #[vars.Table] #[vars.fields map "$ = :$ " joinBy ","] where ID=:ID]]></db:sql>
				</db:bulk-update>
			</route>
		</scatter-gather> -->
        <ee:transform>
            <ee:message>
                <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
flatten(payload pluck $.payload)]]></ee:set-payload>
            </ee:message>
        </ee:transform>
    </sub-flow>
    <sub-flow name="Get-SQL-Records" doc:id="0d9fe861-78cd-4292-8ebc-eb63e9ec7995">
        <logger level="INFO" doc:name="Logger" doc:id="d202674e-169a-427d-bc39-16274dec25f2" message="queries : #[vars.Sql_Query]" />
        <set-payload value="#[null]" doc:name="Set Payload" doc:id="0e35d61e-a575-460d-a9e0-2ce318ea9d5f" />
        <scatter-gather doc:name="Scatter-Gather" doc:id="491118dd-c244-45b7-b6b5-ef20a3411f99">
            <route>
                <db:select doc:name="Get Records" doc:id="fdda5d80-1a5c-4631-bc76-3ed847c7ec08" config-ref="Database_Config">
                    <non-repeatable-iterable />
                    <db:sql><![CDATA[#[vars.'Sql_Query'.'main']]]></db:sql>
                </db:select>
            </route>
            <route>
                <choice doc:name="Choice" doc:id="4878ac4d-56eb-4f95-b217-59843b436e70">
                    <when expression="#[vars.'Sql_Query'.'count' != null]">
                        <db:query-single doc:name="Get Count" doc:id="22b05e33-09d1-4d2a-9a21-34213603242f" config-ref="Database_Config">
                            <db:sql><![CDATA[#[vars.'Sql_Query'.'count']]]></db:sql>
                        </db:query-single>
                    </when>
                    <otherwise>
                        <logger level="INFO" doc:name="Logger" doc:id="c7e7d4e7-2df8-43c3-8965-94a1aaaa42e1" message="default rows" />
                    </otherwise>
                </choice>
            </route>
            <route>
                <choice doc:name="Choice" doc:id="e8238810-bd6f-440e-af67-6d937a9ea723">
                    <when expression="#[vars.'Sql_Query'.'next' != null]">
                        <db:query-single doc:name="Get Next Page" doc:id="1452c4d7-ee5f-4784-b6ce-d28b6112d3ee" config-ref="Database_Config">
                            <db:sql><![CDATA[#[vars.'Sql_Query'.'next']]]></db:sql>
                        </db:query-single>
                    </when>
                    <otherwise>
                        <logger level="INFO" doc:name="Logger" doc:id="e4326b19-c060-4f65-849f-dae4acf335e3" message="default rows" />
                    </otherwise>
                </choice>
            </route>
        </scatter-gather>
        <ee:transform doc:name="Transform Message" doc:id="345d3191-e57e-42b3-956a-8f2fbaaf5799">
            <ee:message>
                <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
payload."0".payload]]></ee:set-payload>
            </ee:message>
            <ee:variables>
                <ee:set-variable variableName="outboundHeaders"><![CDATA[%dw 2.0
output application/json skipNullOn="everywhere"
---
{
	count : payload."1".payload[0],
	has_next: ! isEmpty(payload."2".payload)
}]]></ee:set-variable>
            </ee:variables>
        </ee:transform>
        <!-- <choice doc:name="Choice" doc:id="2d68dd10-8a61-43a9-9ca6-1d956e74f5b8" >
			<when expression='#[lower(vars.response) == "xml"]' >
				<ee:transform doc:name="Transform Message" doc:id="3c645f50-9667-4f03-8167-8019f48d80fa" >
					<ee:message >
						<ee:set-payload ><![CDATA[%dw 2.0
output application/xml deferred = true
-&#45;&#45;
Records: Record : payload."0".payload]]></ee:set-payload>
					</ee:message>
				</ee:transform>
			</when>
			<when expression='#[lower(vars.response) == "csv"]' >
				<ee:transform doc:name="Transform Message" doc:id="107bbecc-9de4-49ef-bb7e-203a8626018c" >
					<ee:message >
						<ee:set-payload ><![CDATA[%dw 2.0
output application/csv deferred = true
-&#45;&#45;
payload."0".payload]]></ee:set-payload>
					</ee:message>
				</ee:transform>
			</when>
			<when expression='#[lower(vars.response) == "json"]' >
				<ee:transform doc:name="Transform Message" doc:id="39f713e1-8bd2-4139-94b4-57d646b530e0" >
					<ee:message >
						<ee:set-payload ><![CDATA[%dw 2.0
output application/json deferred = true
-&#45;&#45;
payload."0".payload]]></ee:set-payload>
					</ee:message>
				</ee:transform>
			</when>
			<otherwise >
				<ee:transform doc:name="Transform Message" doc:id="47fd16fc-01f3-42b7-8c0f-28dfe21c815a" >
					<ee:message >
						<ee:set-payload ><![CDATA[%dw 2.0
output application/json deferred = true
-&#45;&#45;
payload."0".payload]]></ee:set-payload>
					</ee:message>
				</ee:transform>
			</otherwise>
		</choice>
		-->
    </sub-flow>
    <!-- 
	<flow name="sql-saberFlow" doc:id="0cf70e1d-3314-4380-8228-78096d988122" >
		<http:listener doc:name="Listener" doc:id="8639f4e5-a166-4e57-8902-660165adc3d6" config-ref="HTTP_Listener_config" path="/{app.name}/Test"/>
		<logger level="INFO" doc:name="Logger" doc:id="f6ceb900-5907-4561-9ad0-017752e81a5a" message="#[correlationId]" />
		<logger level="INFO" doc:name="Logger" doc:id="32f74a5a-d6ac-4efe-bc7c-a984740298b0" message="#[correlationId]"/>
		<ee:transform doc:name="Transform Message" doc:id="eadf23bc-d34e-48dc-8bf2-075ceb357295" >
			<ee:message >
			</ee:message>
			<ee:variables >
				<ee:set-variable variableName="attribs" ><![CDATA[%dw 2.0
output application/java
-&#45;&#45;
attributes]]></ee:set-variable>
			</ee:variables>
		</ee:transform>
		<try doc:name="Try" doc:id="277f003a-301c-43d1-acbf-fbc37e912842" transactionalAction="BEGIN_OR_JOIN" transactionType="XA">
			<tracking:transaction doc:name="Set Transaction Id" doc:id="7aec7957-e38e-4d91-ba87-4380ae420c96" id='#["Cst"++(correlationId default uuid())]' />
			<logger level="INFO" doc:name="Logger" doc:id="6082fdd6-49ca-477c-89f2-2697220454ea" message="Insert Started"/>
			<db:insert doc:name="Insert" doc:id="a2eb7787-4c92-4a72-9201-582f1f7c43cf" config-ref="Database_Config">
				<db:sql ><![CDATA[#[payload]]]></db:sql>
			</db:insert>
			<logger level="INFO" doc:name="Logger" doc:id="cbd19da1-b26b-4348-b85f-5cda1a021d24" message="Insert Completed #[vars.attribs.queryParams.eval]"/>
			<ee:transform doc:name="Transform Message" doc:id="181b83fc-26db-49c1-a278-215ecbeae010" >
				<ee:message >
					<ee:set-payload ><![CDATA[%dw 2.0
output application/json
import * from dw::core::URL
-&#45;&#45;
read(decodeURI(vars.attribs.queryParams.eval) default "1")]]></ee:set-payload>
				</ee:message>
			</ee:transform>
			<error-handler >
				<on-error-propagate enableNotifications="false" logException="false" doc:name="On Error Propagate" doc:id="4c0b237b-e193-4130-935e-1a5e82555b5d" type="ANY">
					<logger level="INFO" doc:name="Logger" doc:id="deeff711-9268-4b56-96e8-abaa9a7f0adf" message='#[output application/json -&#45;&#45; "errored"]'/>
				</on-error-propagate>
			</error-handler>
		</try>
	</flow> -->
    <flow name="get:\(table):sql-saber-config">
		<ee:transform doc:name="Transform Message1" doc:id="6e741d6b-aa35-4b46-a7fc-61e13387ac4a" >
			<ee:message />
			<ee:variables >
				<ee:set-variable resource="dw-config/Build_SQL_Query.dwl" variableName="Sql_Query" />
			</ee:variables>
		</ee:transform>
		<flow-ref doc:name="Execute_DB" doc:id="421b2494-4852-4586-b4f2-37fea1099746" name="Get-SQL-Records" />
    </flow>
    <flow name="post:\(table):application\json:sql-saber-config">
		<ee:transform doc:name="Transform Message1" doc:id="67e64602-3b1f-4727-85c8-953c8b9abeda" >
			<ee:message />
			<ee:variables >
				<ee:set-variable variableName="Table" ><![CDATA[%dw 2.0
output application/java
---
attributes.uriParams.table]]></ee:set-variable>
				<ee:set-variable variableName="fields" ><![CDATA[%dw 2.0
output application/java
---
(attributes.queryParams.Fields splitBy ",") default []]]></ee:set-variable>
			</ee:variables>
		</ee:transform>
		<flow-ref doc:name="Flow Reference" doc:id="9143d24c-59f6-4e87-b9cc-3d37cf2ba009" name="Upsert-SQL-Operation"/>
    </flow>
</mule>
